[Unit]
Description=Radio Recorder Timer
Requires=radio-record.service

[Timer]
# Run every minute to check schedule
OnCalendar=*:0/1
Persistent=true

[Install]
WantedBy=timers.target
